.review-section
  padding: 18px

  img
    display: block
    margin: 12px auto
    height: 72px

  .btn-submit
    display: flex
    justify-content: center
    align-content: center

    &:hover
      background: #777777

    .btn-loading
      display: flex
      height: 26px
      margin: auto

  .error-message
    background: #f44336
    padding: 12px
    font-size: 13px
    color: white
    border-radius: 2px