&.fade-enter
  opacity: 0
  transition: opacity .7s

  &.fade-enter-active
    transition: opacity .7s
    opacity: 1

  &.fade-leave
    opacity: 1
    transition: opacity .7s

    &.fade-leave-active
      opacity: 1
      transition: opacity .7s
