nav
  width: 240px
  background: #f2f2f2
  position: fixed
  top: 0
  left: 0
  height: 100%
  z-index: 9999

  .logo
    text-align: center
    padding: 6px

  .nav-items
    display: flex
    flex-direction: column

    a
      display: flex
      padding: 8px

      &.active
        background: #eee
